<%= render layout: "backoffice/shared/auth_shell", locals: {
  page_title: "Confirmar conta | Backoffice",
  heading: "Reenviar confirmação",
  subtitle: "Reenvie as instruções de confirmação para o e-mail do administrador."
} do %>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "user" }) do |f| %>
    <%= render "backoffice/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control form-control-user", placeholder: "E-mail" %>
    </div>

    <%= f.submit "Reenviar confirmação", class: "btn btn-primary btn-user btn-block" %>
  <% end %>

  <hr>
  <%= render "backoffice/shared/links" %>
<% end %>
