<%= render layout: "backoffice/shared/auth_shell", locals: {
  page_title: "Redefinir senha | Backoffice",
  heading: "Definir nova senha",
  subtitle: "Atualize a senha da conta administrativa."
} do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "user" }) do |f| %>
    <%= render "backoffice/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Nova senha" %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted mt-2">Mínimo de <%= @minimum_password_length %> caracteres.</small>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Confirmar nova senha" %>
    </div>

    <%= f.submit "Atualizar senha", class: "btn btn-primary btn-user btn-block" %>
  <% end %>

  <hr>
  <%= render "backoffice/shared/links" %>
<% end %>
