<%= render layout: "backoffice/shared/auth_shell", locals: {
  page_title: "Entrar | Backoffice",
  heading: "Entrar no painel",
  subtitle: "Use sua conta de administrador para acessar o painel."
} do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "user" }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "E-mail" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user", placeholder: "Senha" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="custom-control custom-checkbox small">
          <%= f.check_box :remember_me, class: "custom-control-input" %>
          <%= f.label :remember_me, "Lembrar acesso", class: "custom-control-label" %>
        </div>
      </div>
    <% end %>

    <%= f.submit "Entrar", class: "btn btn-primary btn-user btn-block" %>
  <% end %>

  <hr>
  <%= render "backoffice/shared/links" %>
<% end %>
