<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Backoffice | Fazendo Bric" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "fontawesome-free/css/all.min", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render "backoffice/shared/sidebar" %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render "backoffice/shared/topbar" %>

          <main class="container-fluid">
            <% flash.each do |type, message| %>
              <% alert_class = type.to_s == "notice" ? "success" : "danger" %>
              <div class="alert alert-<%= alert_class %> mb-4" role="alert"><%= message %></div>
            <% end %>

            <%= yield %>
          </main>
        </div>

        <%= render "backoffice/shared/footer" %>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top" aria-label="Voltar ao topo">
      <i class="fas fa-angle-up" aria-hidden="true"></i>
    </a>

    <%= javascript_importmap_tags %>
  </body>
</html>
