<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Backoffice | Fazendo Bric" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "fontawesome-free/css/all.min", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Instrument+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body class="backoffice-body">
    <div class="backoffice-shell">
      <%= render "backoffice/shared/sidebar" %>

      <div class="backoffice-main">
        <div class="backoffice-content">
          <%= render "backoffice/shared/topbar" %>

          <main class="backoffice-page">
            <% flash.each do |type, message| %>
              <% alert_class = type.to_s == "notice" ? "backoffice-alert--success" : "backoffice-alert--danger" %>
              <div class="backoffice-alert <%= alert_class %>" role="alert"><%= message %></div>
            <% end %>

            <%= yield %>
          </main>
        </div>

        <%= render "backoffice/shared/footer" %>
      </div>
    </div>

    <%= javascript_importmap_tags %>
  </body>
</html>
