<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Login Admin | Fazendo Bric" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "fontawesome-free/css/all.min", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Instrument+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body class="backoffice-auth-body">
    <main class="backoffice-auth-shell">
      <%= yield %>
    </main>

    <%= javascript_importmap_tags %>
  </body>
</html>
